<header>
    <!-- header content begin -->
    <div class="uk-section uk-padding-remove-vertical{{#ifpage 'index' 'homepage2' 'homepage3' 'homepage4'}} in-header-home{{/ifpage}} {{#unlesspage 'index' 'homepage2' 'homepage3' 'homepage4'}}in-header-inner uk-background-cover uk-background-top-center" style="background-image: url({{root}}img/in-wave-background-1.png);{{/unlesspage}}">        
        {{> module-navigation }}
        <div class="uk-container">
            <div class="uk-grid">
                <div class="uk-width-1-1">
                    <div class="uk-card uk-card-secondary uk-card-small uk-card-body uk-border-rounded">
                        <div class="uk-grid uk-text-small" data-uk-grid>
                            <div class="uk-width-3-4@m uk-visible@m">
                                <p>Trading involves substantial risk and may result in the loss of your invested/greater that your invested capital, respectively.</p>
                            </div>
                            <div class="uk-width-expand@m uk-text-center uk-text-right@m">
                                <a class="uk-margin-right" href="#"><i class="fas fa-comment-alt uk-margin-small-right"></i>Live Chat</a>
                                <a href="#"><i class="fas fa-phone-alt uk-margin-small-right uk-margin-small-left"></i>1-800-123-4567</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{#unlesspage 'index' 'homepage2' 'homepage3' 'homepage4'}}
                {{> module-breadcrumb }}
                {{/unlesspage}}
            </div>
        </div>
    </div>    
    <!-- header content end -->
</header>
