<!-- section content begin -->
<div class="uk-section uk-padding-large in-offset-bottom-70 in-wave-6">
    <div class="uk-container">
        <div class="uk-grid-collapse uk-position-relative" data-uk-grid>
            <div class="uk-position-bottom-right">
                <img src="{{root}}img/in-wave-background-2.png" alt="wave-hq" width="540" height="513">
            </div>
            <div class="uk-width-1-1">
                <h1>Join a club of more than <span class="in-highlight">480,000</span> traders</h1>
            </div>
            <div class="uk-width-3-5@m">
                <div class="uk-grid-medium uk-child-width-1-2@s uk-child-width-1-2@m uk-margin-medium-top uk-margin-medium-bottom" data-uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                            <div class="uk-flex uk-flex-middle">
                                <div class="uk-margin-small-right">
                                    <i class="fas fa-award fa-2x in-icon-wrap small transparent"></i>
                                </div>
                                <div>
                                    <h4 class="uk-margin-remove">Best reputation</h4>
                                </div>
                            </div>
                            <p class="uk-margin-small-top">Adipisci sed quia numquam eius modi tempora incidunt ut labore et dolore consequuntur magni dolores.</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                            <div class="uk-flex uk-flex-middle">
                                <div class="uk-margin-small-right">
                                    <i class="fas fa-tools fa-2x in-icon-wrap small transparent"></i>
                                </div>
                                <div>
                                    <h4 class="uk-margin-remove">Advanced tools</h4>
                                </div>
                            </div>
                            <p class="uk-margin-small-top">Adipisci sed quia numquam eius modi tempora incidunt ut labore et dolore consequuntur magni dolores.</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                            <div class="uk-flex uk-flex-middle">
                                <div class="uk-margin-small-right">
                                    <i class="fas fa-users fa-2x in-icon-wrap small transparent"></i>
                                </div>
                                <div>
                                    <h4 class="uk-margin-remove">480,000+ clients</h4>
                                </div>
                            </div>
                            <p class="uk-margin-small-top">Adipisci sed quia numquam eius modi tempora incidunt ut labore et dolore consequuntur magni dolores.</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                            <div class="uk-flex uk-flex-middle">
                                <div class="uk-margin-small-right">
                                    <i class="fas fa-building fa-2x in-icon-wrap small transparent"></i>
                                </div>
                                <div>
                                    <h4 class="uk-margin-remove">Worldwide office</h4>
                                </div>
                            </div>
                            <p class="uk-margin-small-top">Adipisci sed quia numquam eius modi tempora incidunt ut labore et dolore consequuntur magni dolores.</p>
                        </div>
                    </div>
                </div>
                <p class="uk-text-small uk-text-muted uk-margin-large-bottom">
                    <span class="uk-label uk-text-small uk-text-uppercase uk-border-pill uk-margin-small-right">Start trade</span>
                    Lorem ipsum dolor sit amet consectetur adipisicing reprehen elit. <a href="#">Join now!</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
