<!-- section content begin -->
<div class="uk-section uk-section-muted uk-padding-remove-vertical uk-background-contain uk-background-center-right uk-background-image@m" style="background-image: url({{root}}img/in-wave-platformbg.jpg);">
    <div class="uk-container in-wave-18">
        <div class="uk-grid-large uk-flex uk-flex-middle" data-uk-grid>
            <div class="uk-width-1-2@m">
                <div class="uk-margin-bottom">
                    <a href="#" class="uk-button in-button-app">
                        <i class="fab fa-google-play fa-2x"></i>
                        <span class="wrapper">Download from<span>Play Store</span></span>
                    </a>
                    <a href="#" class="uk-button in-button-app uk-margin-medium-left">
                        <i class="fab fa-apple fa-2x"></i>
                        <span class="wrapper">Download from<span>App Store</span></span>
                    </a>
                    <a href="#" class="uk-button in-button-app uk-margin-medium-left uk-visible@m">
                        <i class="fab fa-windows fa-2x"></i>
                        <span class="wrapper">Download from<span>Microsoft Store</span></span>
                    </a>
                </div>
                <hr>
                <h1 class="uk-margin-remove">Trade on <span class="in-highlight">world class</span> platform</h1>
                <p class="uk-margin-medium-bottom in-margin-remove-bottom@s">Facilis este expedita distinctio libero tempore soluta nobis eligendi duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
            </div>
            <div class="uk-width-1-2@m">
                <img class="uk-align-center uk-align-left@m" src="{{root}}img/in-wave-mockup-5.png" alt="wave-mockup" width="533" height="330">
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
