<!-- section content begin -->
<div class="uk-section uk-section-primary in-offset-bottom-40">
    <div class="uk-container in-wave-10">
        <div class="uk-grid uk-position-relative uk-flex uk-flex-middle">
            <div class="uk-position-bottom-right in-offset-bottom-40">
                <img src="{{root}}img/in-wave-background-4.svg" alt="wave-hq" width="500">
            </div>
            <div class="uk-width-auto@m uk-text-center">
                <img src="{{root}}img/in-wave-icon-10.svg" alt="wave-icon" width="96">
            </div>
            <div class="uk-width-3-5@m">
                <h2 class="uk-margin-remove-bottom">Financial strength you can depend on</h2>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae et quasi architecto. <a class="uk-text-small uk-text-uppercase uk-margin-small-left" href="#">Learn more<i class="fas fa-long-arrow-alt-right fa-sm uk-margin-small-left"></i></a></p>                
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
