<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container in-wave-19">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-3-4@m">
                <div class="uk-grid-divider uk-child-width-1-3@s uk-child-width-1-3@m uk-margin-medium-top uk-margin-bottom" data-uk-grid>
                    <div>
                        <div class="uk-flex uk-flex-middle">
                            <div class="uk-margin-small-right">
                                <i class="fas fa-edit fa-2x in-icon-wrap small transparent"></i>
                            </div>
                            <div>
                                <h4 class="uk-margin-remove">Register</h4>
                            </div>
                        </div>
                        <p>Fill in your personal details in our secure online application.</p>
                    </div>
                    <div>
                        <div class="uk-flex uk-flex-middle">
                            <div class="uk-margin-small-right">
                                <i class="fas fa-money-bill-wave fa-2x in-icon-wrap small transparent"></i>
                            </div>
                            <div>
                                <h4 class="uk-margin-remove">Deposit</h4>
                            </div>
                        </div>
                        <p>Make a deposit via debit card, wire transfer, eCheck or check.</p>
                    </div>
                    <div>
                        <div class="uk-flex uk-flex-middle">
                            <div class="uk-margin-small-right">
                                <i class="fas fa-chart-line fa-2x in-icon-wrap small transparent"></i>
                            </div>
                            <div>
                                <h4 class="uk-margin-remove">Trading</h4>
                            </div>
                        </div>
                        <p>Once your approved, you can trade on desktop and mobile.</p>
                    </div>
                </div>
                <div class="in-create-account uk-margin-medium-top">
                    <span class="uk-label uk-text-small uk-text-uppercase uk-border-pill uk-margin-small-bottom">Open your account</span>
                    <p class="uk-margin-remove-top uk-visible@m">Connect with over 5 millions investors in the world’s leading social investment network</p>
                    <form class="uk-grid-small" data-uk-grid>
                        <div class="uk-width-1-1 uk-width-1-4@m">
                            <input class="uk-input uk-border-rounded" type="text" placeholder="Full name">
                        </div>
                        <div class="uk-width-1-1 uk-width-1-4@m">
                            <input class="uk-input uk-border-rounded" type="text" placeholder="Email address">
                        </div>
                        <div class="uk-width-1-1 uk-width-1-4@m">
                            <input class="uk-input uk-border-rounded" type="text" placeholder="Phone number">
                        </div>
                        <div class="uk-width-1-1 uk-width-1-4@m">
                            <button class="uk-button uk-button-primary uk-border-rounded uk-width-expand">Create Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
