<!-- section content begin -->
<div class="uk-section uk-section-muted uk-padding-large uk-background-cover uk-background-center-center" style="background-image: url({{root}}img/in-wave-background-3.jpg);">
    <div class="uk-container in-wave-7">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-3-4@m">
                <h4 class="uk-text-primary uk-margin-remove-bottom">Trade with confidence</h4>
                <h1 class="uk-margin-small-top uk-margin-remove-bottom">New level of <span class="in-highlight">security</span></h1>
                <div class="uk-grid-divider uk-child-width-1-2@s uk-child-width-1-2@m uk-margin-medium-top" data-uk-grid>
                    <div>
                        <img class="uk-margin-remove-bottom" src="{{root}}img/in-wave-icon-8.svg" alt="wave-icon" width="64">
                        <h3 class="uk-margin-small-top">Regulations &amp; funds</h3>
                        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet voluptates repudiandae sint molestiae non recusandae.</p>
                    </div>
                    <div>
                        <img class="uk-margin-remove-bottom" src="{{root}}img/in-wave-icon-9.svg" alt="wave-icon" width="64">
                        <h3 class="uk-margin-small-top">Depth of protection</h3>
                        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet voluptates repudiandae sint molestiae non recusandae.</p>
                    </div>
                </div>
                <div class="in-create-account uk-margin-medium-top">
                    <span class="uk-label uk-text-small uk-text-uppercase uk-border-pill uk-margin-small-bottom">Open your account</span>
                    <p class="uk-margin-remove-top uk-visible@m">Connect with over 5 millions investors in the world’s leading social investment network</p>
                    <form class="uk-grid-small" data-uk-grid>
                        <div class="uk-width-1-1 uk-width-1-4@m">
                            <input class="uk-input uk-border-rounded" type="text" placeholder="Full name">
                        </div>
                        <div class="uk-width-1-1 uk-width-1-4@m">
                            <input class="uk-input uk-border-rounded" type="text" placeholder="Email address">
                        </div>
                        <div class="uk-width-1-1 uk-width-1-4@m">
                            <input class="uk-input uk-border-rounded" type="text" placeholder="Phone number">
                        </div>
                        <div class="uk-width-1-1 uk-width-1-4@m">
                            <button class="uk-button uk-button-primary uk-border-rounded uk-width-expand">Create Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
