<!-- section content begin -->
<div class="uk-section uk-padding-large">
    <div class="uk-container in-wave-8">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-3-5@m uk-text-center">
                <h1 class="uk-margin-remove">Up to the minute <span class="in-highlight">analysis</span></h1>
                <p class="uk-text-muted uk-margin-small-top uk-margin-medium-bottom">Inform your decisions with timely dispatches from our large team of global analysts.</p>
            </div>
            <div class="uk-width-1-1">
                <div class="uk-grid-large uk-child-width-1-2@m" data-uk-grid>
                    <div>
                        <ul class="uk-list uk-list-divider in-front-news">
                            <li>
                                <div class="uk-grid-collapse uk-flex uk-flex-middle" data-uk-grid>
                                    <div class="uk-width-auto">
                                        <img class="uk-border-rounded" src="{{root}}img/in-widget-image-1.jpg" alt="sample-image" width="94" height="94">
                                    </div>
                                    <div class="uk-width-expand uk-margin-medium-left">
                                        <a href="#">
                                            <span class="uk-text-lead uk-display-block uk-margin-small-bottom">​Bank of England rate preview: markets expecting QE expansion​</span>
                                        </a>
                                        <span class="uk-article-meta uk-text-small"><i class="fas fa-clock fa-sm uk-margin-small-right"></i>Wednesday 17 June 2020 16:25</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-grid-collapse uk-flex uk-flex-middle" data-uk-grid>
                                    <div class="uk-width-auto">
                                        <img class="uk-border-rounded" src="{{root}}img/in-widget-image-2.jpg" alt="sample-image" width="94" height="94">
                                    </div>
                                    <div class="uk-width-expand uk-margin-medium-left">
                                        <a href="#">
                                            <span class="uk-text-lead uk-display-block uk-margin-small-bottom">​EUR/USD, GBP/USD, and AUD/USD finding support after recent declines​</span>
                                        </a>
                                        <span class="uk-article-meta uk-text-small"><i class="fas fa-clock fa-sm uk-margin-small-right"></i>Wednesday 17 June 2020 16:11</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-grid-collapse uk-flex uk-flex-middle" data-uk-grid>
                                    <div class="uk-width-auto">
                                        <img class="uk-border-rounded" src="{{root}}img/in-widget-image-3.jpg" alt="sample-image" width="94" height="94">
                                    </div>
                                    <div class="uk-width-expand uk-margin-medium-left">
                                        <a href="#">
                                            <span class="uk-text-lead uk-display-block uk-margin-small-bottom">​Where next for the SPH share price after being dropped by STI Index?​</span>
                                        </a>
                                        <span class="uk-article-meta uk-text-small"><i class="fas fa-clock fa-sm uk-margin-small-right"></i>Wednesday 17 June 2020 15:15</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <table class="uk-table uk-table-divider uk-text-small">
                            <thead>
                                <tr>
                                    <th>Instrument</th>
                                    <th class="uk-text-center">Bid</th>
                                    <th class="uk-text-center">Offer</th>
                                    <th class="uk-text-right uk-visible@s">Change</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>FTSE 100</td>
                                    <td class="uk-text-center"><span class="uk-label uk-label-success">6261.0<i class="fas fa-caret-up fa-xs uk-margin-small-left"></i></span></td>
                                    <td class="uk-text-center"><span class="uk-label uk-label-success">6263.0<i class="fas fa-caret-up fa-xs uk-margin-small-left"></i></span></td>
                                    <td class="uk-text-right uk-visible@s"><span class="uk-text-success">17.7</span></td>
                                </tr>
                                <tr>
                                    <td>Germany 30</td>
                                    <td class="uk-text-center"><span class="uk-label uk-label-success">12335.4<i class="fas fa-caret-up fa-xs uk-margin-small-left"></i></span></td>
                                    <td class="uk-text-center"><span class="uk-label uk-label-success">12337.4<i class="fas fa-caret-up fa-xs uk-margin-small-left"></i></span></td>
                                    <td class="uk-text-right uk-visible@s"><span class="uk-text-success">14.1</span></td>
                                </tr>
                                <tr>
                                    <td>Wall Street</td>
                                    <td class="uk-text-center"><span class="uk-label uk-label-success">26328.2<i class="fas fa-caret-up fa-xs uk-margin-small-left"></i></span></td>
                                    <td class="uk-text-center"><span class="uk-label uk-label-success">26331.8<i class="fas fa-caret-up fa-xs uk-margin-small-left"></i></span></td>
                                    <td class="uk-text-right uk-visible@s"><span class="uk-text-success">19.5</span></td>
                                </tr>
                                <tr>
                                    <td>Bitcoin (USD)</td>
                                    <td class="uk-text-center"><span class="uk-label uk-label-danger">9419.00<i class="fas fa-caret-down fa-xs uk-margin-small-left"></i></span></td>
                                    <td class="uk-text-center"><span class="uk-label uk-label-danger">9455.00<i class="fas fa-caret-down fa-xs uk-margin-small-left"></i></span></td>
                                    <td class="uk-text-right uk-visible@s"><span class="uk-text-danger">-57.79</span></td>
                                </tr>
                                <tr>
                                    <td>EUR/USD</td>
                                    <td class="uk-text-center"><span class="uk-label uk-label-danger">1.12800<i class="fas fa-caret-down fa-xs uk-margin-small-left"></i></span></td>
                                    <td class="uk-text-center"><span class="uk-label uk-label-danger">1.12806<i class="fas fa-caret-down fa-xs uk-margin-small-left"></i></span></td>
                                    <td class="uk-text-right uk-visible@s"><span class="uk-text-success">0.00168</span></td>
                                </tr>
                                <tr>
                                    <td>GBP/USD</td>
                                    <td class="uk-text-center"><span class="uk-label uk-label-success">1.25727<i class="fas fa-caret-up fa-xs uk-margin-small-left"></i></span></td>
                                    <td class="uk-text-center"><span class="uk-label uk-label-danger">1.25736<i class="fas fa-caret-down fa-xs uk-margin-small-left"></i></span></td>
                                    <td class="uk-text-right uk-visible@s"><span class="uk-text-success">0.00008</span></td>
                                </tr>
                                <tr>
                                    <td>Spot Gold</td>
                                    <td class="uk-text-center"><span class="uk-label uk-label-danger">1726.82<i class="fas fa-caret-down fa-xs uk-margin-small-left"></i></span></td>
                                    <td class="uk-text-center"><span class="uk-label uk-label-danger">1727.62<i class="fas fa-caret-down fa-xs uk-margin-small-left"></i></span></td>
                                    <td class="uk-text-right uk-visible@s"><span class="uk-text-success">0.24</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
