<!-- section content begin -->
<div class="uk-section uk-padding-large in-wave-12 in-offset-bottom-70">
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-3-4@m">
                <h1 class="uk-margin-remove-bottom">Why traders <span class="in-highlight">choose</span> Wave Capital</h1>
            </div>
        </div>
        <div class="uk-grid-large uk-child-width-1-2@s uk-child-width-1-4@m uk-margin-large-top" data-uk-grid>
            <div> 
                <div class="in-wave-12-counter">
                    <h1 class="uk-heading-medium uk-margin-remove">
                        <span class="count" data-counter-end="20">0</span>
                        <span class="in-wave-12-small">years</span>
                    </h1>
                    <h4 class="uk-margin-top uk-margin-remove-bottom">Experience</h4>
                    <p class="uk-text-muted uk-margin-remove-top">Since 2000</p>
                </div>
            </div>
            <div>
                <div class="in-wave-12-counter">
                    <h1 class="uk-heading-medium uk-margin-remove">
                        <span class="count" data-counter-end="15">0</span>
                        <span class="in-wave-12-small">years</span>
                    </h1>
                    <h4 class="uk-margin-top uk-margin-remove-bottom">UK Regulated</h4>
                    <p class="uk-text-muted uk-margin-remove-top">Since 2005</p>
                </div>
            </div>
            <div>
                <div class="in-wave-12-counter">
                    <h1 class="uk-heading-medium uk-margin-remove">
                        <span class="count" data-counter-end="18">0</span>
                        <span class="in-wave-12-small">K</span>
                    </h1>
                    <h4 class="uk-margin-top uk-margin-remove-bottom">Order per day</h4>
                    <p class="uk-text-muted uk-margin-remove-top">Fast execution</p>
                </div>
            </div>
            <div>
                <div class="in-wave-12-counter">
                    <h1 class="uk-heading-medium uk-margin-remove">
                        <span class="count" data-counter-end="24">0</span>
                        <span class="in-wave-12-small">/5</span>
                    </h1>
                    <h4 class="uk-margin-top uk-margin-remove-bottom">Customer support</h4>
                    <p class="uk-text-muted uk-margin-remove-top">Account manager</p>
                </div>
            </div>
        </div>
        <div class="uk-grid uk-flex uk-flex-center uk-background-contain uk-background-top-center in-testimoni-wrap uk-background-image@m" style="background-image: url({{root}}img/in-wave-testibg.jpg);">
            <div class="uk-width-3-4@m">
                <div class="uk-flex uk-flex-middle" data-uk-grid> 
                    <div class="uk-width-1-1 uk-width-auto@m uk-flex-last uk-flex-first@m">
                        <img class="uk-align-center uk-margin-remove-bottom" src="{{root}}img/in-testimoni-1.png" alt="client-testimoni" width="300">
                    </div>
                    <div class="uk-width-1-1 uk-width-expand@m">
                        <blockquote>
                            <p class="uk-margin-bottom uk-text-large">It surpassed my expectations. Trading on the platform is excellent and it allows for making accurate graphical analyses of the market.</p>
                            <footer>Anthony Torres<br><cite class="uk-label uk-text-small uk-border-pill">Customer since 2012</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
