<!-- section content begin -->
<div class="uk-section uk-section-default uk-padding-remove-vertical in-wave-5 in-offset-bottom-40">    
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-background-contain uk-background-center-right uk-background-image@m" style="background-image: url({{root}}img/in-wave-mockup-1.png);">
                <h1 class="uk-margin-remove-bottom">Start <span class="uk-text-primary">trading</span></h1>
                <p class="uk-text-lead">on <span class="uk-text-primary">wave</span> mobile app.</p>
                <p class="uk-margin-small-bottom">Available on multiple platform</p>
                <a href="#" class="uk-button uk-button-secondary uk-border-rounded in-button-app">
                    <i class="fab fa-google-play fa-2x"></i>
                    <span class="wrapper">Download from<span>Play Store</span></span>
                </a>
                <a href="#" class="uk-button uk-button-secondary uk-border-rounded in-button-app uk-margin-small-left in-margin-remove-left@s">
                    <i class="fab fa-apple fa-2x"></i>
                    <span class="wrapper">Download from<span>App Store</span></span>
                </a>
                <a href="#" class="uk-button uk-button-secondary uk-border-rounded uk-visible@m in-button-app uk-margin-small-left">
                    <i class="fab fa-windows fa-2x"></i>
                    <span class="wrapper">Download from<span>Microsoft Store</span></span>
                </a>
            </div>
        </div>
    </div>
    <div class="in-price-list">
        <div class="uk-container">
            <div class="uk-grid">
                <div class="uk-width-1-1">
                    <div data-uk-slider="autoplay: true; autoplay-interval: 5000">
                        <ul class="uk-slider-items uk-child-width-1-3@s uk-child-width-1-5@m uk-text-small uk-text-center" data-uk-grid>
                            <li>
                                XAUUSD <span class="uk-label uk-label-success uk-border-pill uk-margin-small-left"><i class="fas fa-caret-up"></i> 1478.81 &nbsp;(+0.28%)</span>
                            </li>
                            <li>
                                GBPUSD <span class="uk-label uk-label-danger uk-border-pill uk-margin-small-left"><i class="fas fa-caret-down"></i> 1.3191 &nbsp;(-1.07%)</span>
                            </li>
                            <li>
                                EURUSD <span class="uk-label uk-label-danger uk-border-pill uk-margin-small-left"><i class="fas fa-caret-down"></i> 1.1159 &nbsp;(-0.11%)</span>
                            </li>
                            <li>
                                USDJPY <span class="uk-label uk-label-success uk-border-pill uk-margin-small-left"><i class="fas fa-caret-up"></i> 109.59 &nbsp;(+0.05%)</span>
                            </li>
                            <li>
                                USDCAD <span class="uk-label uk-label-success uk-border-pill uk-margin-small-left"><i class="fas fa-caret-up"></i> 1.3172 &nbsp;(+0.18%)</span>
                            </li>
                            <li>
                                USDCHF <span class="uk-label uk-label-success uk-border-pill uk-margin-small-left"><i class="fas fa-caret-up"></i> 0.9776 &nbsp;(+0.06%)</span>
                            </li>
                            <li>
                                AUDUSD <span class="uk-label uk-label-danger uk-border-pill uk-margin-small-left"><i class="fas fa-caret-down"></i> 0.67064 &nbsp;(-0.08%)</span>
                            </li>
                            <li>
                                GBPJPY <span class="uk-label uk-label-success uk-border-pill uk-margin-small-left"><i class="fas fa-caret-up"></i> 141.91 &nbsp;(+0.12%)</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
<!-- section content end -->
