<li>
    <div class="uk-position-cover">
        <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-slideshow-image-1.jpg" alt="slideshow-image" data-uk-cover width="1920" height="700" data-uk-img>
    </div>                
    <span></span>
    <div class="uk-container">
        <div class="uk-grid" data-uk-grid>
            <div class="uk-width-3-5@m">
                <div class="uk-overlay">
                    <h1>Trade Shares and Forex with Financial Thinking</h1>
                    <p class="uk-text-lead uk-visible@m">Access 40,000+ instruments – across asset classes – to trade, hedge and invest from a single account.</p>
                    <a href="#" class="uk-button uk-button-primary uk-border-rounded uk-visible@m"><i class="fas fa-scroll uk-margin-small-right"></i>Discover it now</a>
                </div>
            </div>
        </div>
    </div>
</li>
